@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0 auto;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header,header > div{
    background-color: rgb(128, 128, 128);
    padding: 1rem;
    box-shadow: none;
}

nav, nav > div {
	background-color: #343a40;
	color: #ffffff;
	padding: 1rem;
	box-shadow: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}
