@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0 auto;
    padding: 1rem;
}

header, header > div {
    background-color: #ff8040; 
    padding: 1rem;
    box-shadow: none;
}

footer {
    background-color: #ff8040; 
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}